<div class="popup">
  <div class="popup-header">
    <span>Рекламное объявление</span>
    <button class="close-btn">&times;</button>
  </div>
  <ul class="popup-menu">
    <li>Скрыть рекламу</li>
    <li>Пожаловаться</li>
    <li>О рекламодателе</li>
    <li>Скопировать ссылку</li>
    <li>Скопировать ERID</li>
    <li class="erid">ERID 2Vtzqx52prg</li>
  </ul>
  <div class="popup-footer">
    <button class="why-btn">Почему я вижу эту рекламу?</button>
  </div>
</div>

@code {
    
}