
 .page-loading {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     -webkit-transition: all .4s .2s ease-in-out;
     transition: all .4s .2s ease-in-out;
     background-color: #fff;
     opacity: 0;
     visibility: hidden;
     z-index: 9999;
 }
[data-bs-theme="dark"] .page-loading {
    background-color: #0b0f19;
}
.page-loading.active {
    opacity: 1;
    visibility: visible;
}
.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}
.page-loading.active > .page-loading-inner {
    opacity: 1;
}
.page-loading-inner > span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #9397ad;
}
[data-bs-theme="dark"] .page-loading-inner > span {
    color: #fff;
    opacity: .6;
}
.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #b4b7c9;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}
[data-bs-theme="dark"] .page-spinner {
    border-color: rgba(255,255,255,.4);
    border-right-color: transparent;
}
@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

 .image-wrapper {
     position: relative;
     display: inline-block; /* Сделать обёртку по размеру изображения */
     max-width: 100%;
 }
 .image-wrapper img {
     display: block; /* Убрать пространство под изображением */
     width: 100%; /* Опционально, для адаптивности */
     height: auto; /* Опционально, для адаптивности */
 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%; /* Размер текста равен размеру изображения */
     height: 100%; /* Размер текста равен размеру изображения */
     display: flex;
     justify-content: space-between; /* Центрирование текста по горизонтали */
     align-items: self-start; /* Центрирование текста по вертикали */
     font-size: 12px; /* Размер шрифта */
     color: black; /* Цвет текста */
     background-color: rgba(0, 0, 0, 0); /* Полностью прозрачный фон */
     pointer-events: none; /* Важно: позволяет кликам проходить через слой */
 }

 .overlay * {
     pointer-events: auto; /* Восстанавливает стандартное поведение для подэлементов, если нужно */
 }





 .popup-header {
     padding: 10px;
     background: #f0f0f0;
     color: #333;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #ddd;
 }

 .close-btn {
     background: none;
     border: none;
     font-size: 24px;
     cursor: pointer;
 }

 .popup-menu {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .popup-menu li {
     padding: 10px;
     border-bottom: 1px solid #eee;
     cursor: pointer;
 }

 .popup-menu li:hover {
     background-color: #f9f9f9;
 }

 .erid {
     font-size: 12px;
     color: #666;
 }

 .popup-footer {
     padding: 10px;
     text-align: center;
 }

 .why-btn {
     padding: 5px 10px;
     cursor: pointer;
     background-color: #f0f0f0;
     border: 1px solid #ddd;
     border-radius: 4px;
     font-size: 14px;
 }

 .popup {
     /* display: inline-block;  По умолчанию скрыт */
     position: absolute; /* Относительно .image-wrapper */
     /*top: 50%;  Или другое значение для позиционирования внутри .image-wrapper */
     right: 0%; /* Или другое значение для позиционирования внутри .image-wrapper */
     /*transform: translate(-50%, -50%);  Центрирование попапа внутри .image-wrapper */
     width: 90%; /* Процент ширины .image-wrapper, адаптируйте по вашему усмотрению */
     max-width: 300px; /* Максимальная ширина попапа */
     z-index: 10; /* Убедитесь, что это значение выше, чем у остальных элементов в .image-wrapper */
     /* Остальные стили */
     width: max-content;
     /*height: inherit;*/
     background: white;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     font-family: 'Arial', sans-serif;
 }
 
 .popup_big_banner{
     /* display: inline-block;  По умолчанию скрыт */
     position: absolute; /* Относительно .image-wrapper */
     /*top: 50%;  Или другое значение для позиционирования внутри .image-wrapper */
     right: 0%; /* Или другое значение для позиционирования внутри .image-wrapper */
     /*transform: translate(-50%, -50%);  Центрирование попапа внутри .image-wrapper */
     /*width: 90%;  Процент ширины .image-wrapper, адаптируйте по вашему усмотрению */
     /*max-width: 300px;  Максимальная ширина попапа */
     z-index: 10; /* Убедитесь, что это значение выше, чем у остальных элементов в .image-wrapper */
     /* Остальные стили */
     width: max-content;
     /*height: inherit;*/
     background: white;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     font-family: 'Arial', sans-serif;
}
 
 a {
     color: inherit; /* Убирает синий цвет, делая цвет текста таким же, как у родительского элемента */
     text-decoration: none; /* Убирает подчеркивание */
     background-color: transparent; /* Убирает фоновый цвет, если он был */
     outline: none; /* Убирает очертание при фокусе */
 }

 a, a:hover, a:focus {
     color: inherit;
     text-decoration: none;
     background-color: transparent;
     outline: none;
 }

 .bg-gray{
     background: grey;
 }
 
 .image-click{
     z-index: 3000;
 }

 .marginRound {
     padding-bottom: 5px;
     padding-left: 10px;
     padding-top: 5px;
     padding-right: 10px;
 }